sphinx
pydata-sphinx-theme
sphinx-toggleprompt
sphinx-autodoc-typehints
sphinxemoji
sphinx-gallery
myst-parser
myst-parser[linkify]

# Below are dependencies to support notebook-sphinx integration
nbsphinx
ipython
ipykernel
ipywidgets

doc8