sphinx
pydata-sphinx-theme<0.10.1
sphinx-toggleprompt
sphinx-autodoc-typehints
sphinxemoji
sphinx-gallery<0.11.0
myst-parser
myst-parser[linkify]

# Below are dependencies to support notebook-sphinx integration
nbsphinx
ipython
ipykernel
ipywidgets

doc8
